:root {
  --trns: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --swiper-theme-color: white !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  outline: none;
}
::placeholder {
  color: rgb(216, 216, 216);
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: inherit;
}
